<<<<<<< HEAD
body{
  text-align: center;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  background-image: url(./assets/hero.jpg);
  background-size: cover;                     
  background-repeat:no-repeat;
  height: 100vh;
  width:100%;
  box-shadow:inset 0 0 0 1000px rgb(0,0,0,0.35) ;
}
@media screen and (max-width:600px){
 .App{
  background-image: url(./assets/hero-sml.jpg);
 }
=======
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Oxygen", sans-serif;
  background-color:#3C2946;
  font-weight: 400;
 
}
h1,
h2,
h3{
  font-weight: 700;
  color: #515190;
}
h1 {
  text-transform: uppercase;
}
h4{
  color:white;
}
p, label{
  margin:0 1em;
}
.App{
  width:100%;
  height: 100vh;
  display:flex;
  flex-direction: row;
  
  /* gap:10rem; */
  position: relative;
}
.container-bg{
  /* background-color: #BBD196; */
   padding: 3rem;
   max-height: 100vh;
   box-sizing: border-box;
   /* overflow: scroll; */
}
.container-bg::-webkit-scrollbar { 
  display: none;  
}
.tab{
  height:100%;
  color: #515190;
}
.active-tab{
  height:100%;
  width: 100%;
  color: #F8F5F2;
}
.active-tab p, .tab p {
  padding-top:100%;
}
.content{
  display: none;
}
.active-content{
display:block;
}
.journal-tab{
  /* padding: 0 3rem; */
  height: 100vh;
  width: 15%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  color:#56556E;
  background-color: #F8F5F2;
  /* border-right: 2px solid #56556E; */
  box-sizing: border-box;
  cursor: pointer;
}
.journal-content{
  
  width: 100%;
}

.heading-svg {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -2em;
  left: -1em;
  z-index: -1;
}
.title{
  margin-bottom:2em;
}
.stat-container {
  display: flex;
  justify-content: center;
}
.expense-container{
  height: 100vh;
}
.journal-container {
  background-color: #F8F5F2;
  padding: 0;
  max-height:93vh;
   box-sizing: border-box;
  border-radius: 20px;
  overflow: scroll;
}
.journal-container::-webkit-scrollbar { 
  display: none;  
}
.doughnut {
}
.balance-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4em;
}
.balance-container-after{
  display: flex;
  gap: 2em;
  justify-content: space-between;
  margin: 0 4em;
}
.expense-box {
  /* background: rgb(255, 122, 138, 0.5); */
  background-color: #fc6d81;
  width: 10em;
  border-radius: 20px;
  color:#515190;
  font-size:1.15rem;
}
.income-box {
  /* background: rgb(193, 220, 138, 0.5); */
  background-color: #BBD196;
  width: 10em;
  border-radius: 25px;
  color:#515190;
  font-size:1.15rem;
}
.expense-pay {
  /* background: rgb(255, 122, 138, 0.75); */
  background-color: #ff8798;
  width: 8em;
  height: 4em;
  line-height: 4em;
  border-radius: 25px;
  margin: 0.5em auto;
}
.income-pay {
  /* background: rgb(193, 220, 138, 0.75); */
  background-color: #d3ebab;
  width: 8em;
  height: 4em;
  line-height: 4em;
  border-radius: 25px;
  margin: 0.5em auto;
  text-align: center;
}
.form-container {
  /* background-color: lightblue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5em 0 0 0;
  position: relative;
}
.forms {
  background-color: #56556E;
  color: #f8f5f2;
  width: 50%;
  padding: 7rem 2em 5rem 2rem;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 5em 2em;
  box-sizing: border-box;
  
}
.entries {
  width:50%;
  padding: 12rem 5rem;
  /* margin: 0 auto; */
  box-sizing: border-box;
  position: relative;
}
.entries-list {
  display: flex;
  justify-content:space-between;
  align-content: center;
  background-color:   #56556E;
  border-radius: 20px;
  color: #F8F5F2;
  font-size: 1.25em;
  padding: 1em 2em;
  margin-bottom: 1em ;
  position: relative;
  height: 2em;
}
.info{
  
  height: 4em;
  line-height: 2em;
}
.delete-btn{
 color: #F8F5F2;
  position:absolute;
  right:0.5em;
  top: 1em;
}
.footer-svg{
  position: absolute;
  right:0;
  bottom:0;
  z-index:-1;
}
.form-title {
  position: absolute;
  color:#515190;
  text-transform: uppercase;
  word-spacing: .3em;
  letter-spacing: .2em;
  top: 3em;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 1.5em;
  /* width: 15em; */
}
input{
  padding: 1.5em;
  margin: -1em 0 1em 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 1.5rem;
}
input::-webkit-input-placeholder {
  font-size: 1.5em;
  line-height: 3;
}
button{
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 2em ;
  font-size:1.15em ;
  box-sizing: border-box;
  margin: 1em auto 0 auto;
>>>>>>> 0b62c111a370c71813abcf017d799906c70fe66a
}